<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Class: OnStomp::Components::URI::STOMP_SSL</title>
<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  relpath = '../../..';
  if (relpath != '') relpath += '/';
</script>
<script type="text/javascript" charset="utf-8" src="../../../js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="../../../js/app.js"></script>

  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>
    
    <div id="header">
      <div id="menu">
  
    <a href="../../../_index.html">Index (S)</a> &raquo; 
    <span class='title'><span class='object_link'><a href="../../../OnStomp.html" title="OnStomp (module)">OnStomp</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../../Components.html" title="OnStomp::Components (module)">Components</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../URI.html" title="OnStomp::Components::URI (module)">URI</a></span></span>
     &raquo; 
    <span class="title">STOMP_SSL</span>
  
  
  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  <a id="class_list_link" href="#">Class List</a>
  <a id="method_list_link" href="#">Method List</a>
  <a id ="file_list_link" href="#">File List</a>
</div>

      <div class="clear"></div>
    </div>
    
    <iframe id="search_frame"></iframe>
    
    <div id="content"><h1>Class: OnStomp::Components::URI::STOMP_SSL
  
  
  
</h1>

<dl class="box">
  
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName"><span class='object_link'><a href="STOMP.html" title="OnStomp::Components::URI::STOMP (class)">STOMP</a></span></span>
      
        <ul class="fullTree">
          <li>Object</li>
          
            <li class="next">URI::Generic</li>
          
            <li class="next"><span class='object_link'><a href="STOMP.html" title="OnStomp::Components::URI::STOMP (class)">STOMP</a></span></li>
          
            <li class="next">OnStomp::Components::URI::STOMP_SSL</li>
          
        </ul>
        <a href="#" class="inheritanceTree">show all</a>
      
      </dd>
    
  
  
    
  
    
  
  
  
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">lib/onstomp/components/uri.rb</dd>
  
</dl>
<div class="clear"></div>

<h2>Overview</h2><div class="docstring">
  <div class="discussion">
    <p>A URI class for representing URIs with a <code>stomp+ssl</code> scheme.</p>


  </div>
</div>
<div class="tags">
  
</div>
  <h2>Constant Summary</h2>
  
    <dl class="constants">
      
        <dt id="DEFAULT_PORT-constant" class="">DEFAULT_PORT =
          <div class="docstring">
  <div class="discussion">
    <p>The default port to use for these kinds of URI objects when none has
been specified.</p>


  </div>
</div>
<div class="tags">
  
</div>
        </dt>
        <dd><pre class="code"><span class='int'>61612</span></pre></dd>
      
    </dl>
  


  
  
  
  
  <h3 class="inherited">Constants inherited from <span class='object_link'><a href="STOMP.html" title="OnStomp::Components::URI::STOMP (class)">STOMP</a></span></h3>
  <p class="inherited"><span class='object_link'><a href="STOMP.html#DEFAULT_PORT-constant" title="OnStomp::Components::URI::STOMP::DEFAULT_PORT (constant)">DEFAULT_PORT</a></span></p>

  

  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#onstomp_socket_type-instance_method" title="#onstomp_socket_type (instance method)">- (:ssl) <strong>onstomp_socket_type</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>The type of socket to use with these kinds of URI objects.</p>
</div></span>
  
</li>

      
    </ul>
  


  
  
  
  
  
  
  
  <h3 class="inherited">Methods inherited from <span class='object_link'><a href="STOMP.html" title="OnStomp::Components::URI::STOMP (class)">STOMP</a></span></h3>
  <p class="inherited"><span class='object_link'><a href="STOMP.html#open-instance_method" title="OnStomp::Components::URI::STOMP#open (method)">#open</a></span></p>

  

  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    
    
      <div class="method_details first">
  <p class="signature first" id="onstomp_socket_type-instance_method">
  
    - (<tt>:ssl</tt>) <strong>onstomp_socket_type</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>The type of socket to use with these kinds of URI objects.</p>


  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>:ssl</tt>)</span>
      
      
      
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


22</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/onstomp/components/uri.rb', line 22</span>

<span class='kw'>def</span> <span class='id onstomp_socket_type'>onstomp_socket_type</span><span class='semicolon'>;</span> <span class='symbol'>:ssl</span><span class='semicolon'>;</span> <span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

</div>
    
    <div id="footer">
  Generated on Sat Apr  9 13:23:47 2011 by 
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  0.6.7 (ruby-1.9.2).
</div>

  </body>
</html>